<main class="main">
    <h2 class="goods-item-heading">Номер Вашего заказа {{ content_data.num }}.</h2>
    <table class="order-table">
        <tr>
            <th class="table-heading order-first-column">Наименование</th>
            <th class="table-heading order-column">Количество</th>
        </tr>
        {% for item in content_data.items %}
            <tr>
                <td class="table-cell table-cell-text">{{ item.name }}</td>
                <td class="table-cell table-cell-text">{{ item.count }}</td>
            </tr>
        {% endfor %}

        <tr class="order-last-row">
            <td class="table-cell table-cell-text" colspan='2'>Сумма к оплате с учётом скидки {{ content_data.cost }} руб.</td>
        </tr>
    </table>
    <p class="order-end">Ваш заказ поступил в обработку!</p>
    <p class="order-end">В ближайшее время с Вами свяжется менеджер для подтверждения и уточнения заказа.</p>
    <p class="order-end">Спасибо, что выбрали нас!</p>
</main>
