.form-wrap {
    display: flex;
}

.form {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 110px 500px;
    grid-gap: 20px 10px;
    color: #333333;
    border: solid #989898 1px;
    padding: 30px;
    border-radius: 5px;

}

.form-add-input {
    border: solid #989898 1px;
    width: 200px;
    font-size: 16px;
    padding: 5px;
    position: relative;
    height: 31px;
    box-sizing: border-box;

}

.form-add-input:focus {
    outline: none;
    box-shadow: 0 0 2px #333333;
}


.form-label {
    color: #333333;
    align-self: center;
}

.form-label:last-of-type {
    margin-top: 10px;
    align-self: start;
}

.form-button {
    margin-top: 10px;
    grid-column: 1 / -1;
    justify-self: center;
}


.form-heading {
    font-size: 30px;
    font-weight: 700;
}