<footer class="footer">
    {% if role == 'admin' %}
        <a href="index.php?path=admin_items" class="button indexButton">Товары</a>
        <a href="index.php?path=admin_orders" class="button indexButton">Заказы</a>
    {% endif %}
</footer>