<header class="header">
    {% if login != null %}
        <div class="user-info-wrap">
            <div class="user-info">{{ login }}</div>
        </div>
    {% endif %}
    <div class="menuLeft">
        <a href="{{ header_links.index }}" class="button indexButton">Магазин</a>
        <a href="#" class="button formButton hidden">Обратная связь</a>
    </div>
    <div class="menuRight">
        <form class="searchForm hidden"><input type="text" placeholder="" class="searchInput form-input">
            <button class="button searchButton">Поиск</button>
        </form>
        <a href="{{ header_links.cart }}" class="button headerButton">Корзина</a>
        {% if login == null %}
            <button class="button headerButton" id="button-enter">Вход</button>
        {% else %}
            <a href="index.php?path=user/exit" class="button headerButton">Выход</a>
        {% endif %}
    </div>
    <div class="modal hidden" id="modal"></div>
</header>