<main class="main">
    <div class="form-wrap">
        <h2 class="form-heading">Регистрация</h2>
        <form class="form-registration" action="index.php?path=user/add_user" method='POST'>
            <label for="input-login" class="form-registration-label">Ваш логин:</label>
            <input class="form-order-input" type="text" id="input-login" name="login" required>
            <label for="input-password" class="form-registration-label">Ваш пароль:</label>
            <input class="form-order-input" type="password" id="input-password" name="password" required>
            <input type="submit" class="button form-registration-button" value="Отправить" id="button-registration">
        </form>
    </div>
</main>