<!doctype html>
{% include 'head.twig' %}
<html lang="en">
{% include 'header.twig' %}
<body>
<div class="wrapper">
    {% include 'index/content.twig' %}
    {% include 'footer.twig' %}
</div>
</body>
</html>

