<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main">
    <table class="items-table">
        <tr>
            <th class="table-heading">№</th>
            <th class="table-heading">Детали заказа</th>
            <th class="table-heading">Сумма к оплате</th>
            <th class="table-heading">Клиент</th>
            <th class="table-heading">Адрес</th>
            <th class="table-heading">Телефон</th>
            <th class="table-heading">Комментарий</th>
            <th class="table-heading">Статус заказа</th>
            <th class="table-heading">Удалить</th>
        </tr>
        <tr>
            <td class="table-cell table-cell-text ">16</td>
            <td class="table-cell table-cell-control">
                <button class="button-table-control" id="16">Детали заказа</button>
            </td>
            <td class="table-cell table-cell-text "> 15436.80 руб.</td>
            <td class="table-cell table-cell-text">Александр</td>
            <td class="table-cell table-cell-text">Трансильвания, Замок Дракулы</td>
            <td class="table-cell table-cell-text">(123)456-78-90</td>
            <td class="table-cell table-cell-text">срочно</td>
            <td class="table-cell table-cell-control">
                <select name="status" id="status-16" class="table-control">
                    <option value="0" selected>активен</option>
                    <option value="1">завершён</option>
                </select>
            </td>
            <td class="table-cell table-cell-delete">
                <a class="table-link-delete" href="../server/delete-order.php?id=16">
                    <img src="../img/delete.png" alt="delete">
                </a>
            </td>
        </tr>
        <tr>
            <td class="table-cell table-cell-text ">17</td>
            <td class="table-cell table-cell-control">
                <button class="button-table-control" id="17">Детали заказа</button>
            </td>
            <td class="table-cell table-cell-text "> 460.80 руб.</td>
            <td class="table-cell table-cell-text">Александр</td>
            <td class="table-cell table-cell-text">Трансильвания, Замок Дракулы</td>
            <td class="table-cell table-cell-text">(123)456-78-90</td>
            <td class="table-cell table-cell-text">заказ №2</td>
            <td class="table-cell table-cell-control">
                <select name="status" id="status-17" class="table-control">
                    <option value="0" selected>активен</option>
                    <option value="1">завершён</option>
                </select>
            </td>
            <td class="table-cell table-cell-delete">
                <a class="table-link-delete" href="../server/delete-order.php?id=17">
                    <img src="../img/delete.png" alt="delete">
                </a>
            </td>
        </tr>
        <tr>
            <td class="table-cell table-cell-text ">18</td>
            <td class="table-cell table-cell-control">
                <button class="button-table-control" id="18">Детали заказа</button>
            </td>
            <td class="table-cell table-cell-text "> 23040.00 руб.</td>
            <td class="table-cell table-cell-text">Василий</td>
            <td class="table-cell table-cell-text">На деревню, дедушке</td>
            <td class="table-cell table-cell-text">(123)456-78-91</td>
            <td class="table-cell table-cell-text">заказ №3</td>
            <td class="table-cell table-cell-control">
                <select name="status" id="status-18" class="table-control">
                    <option value="0">активен</option>
                    <option value="1" selected>завершён</option>
                </select>
            </td>
            <td class="table-cell table-cell-delete">
                <a class="table-link-delete" href="../server/delete-order.php?id=18">
                    <img src="../img/delete.png" alt="delete">
                </a>
            </td>
        </tr>
        <tr>
            <td class="table-cell table-cell-text ">19</td>
            <td class="table-cell table-cell-control">
                <button class="button-table-control" id="19">Детали заказа</button>
            </td>
            <td class="table-cell table-cell-text "> 2188.80 руб.</td>
            <td class="table-cell table-cell-text">выа</td>
            <td class="table-cell table-cell-text">23</td>
            <td class="table-cell table-cell-text">223</td>
            <td class="table-cell table-cell-text">23</td>
            <td class="table-cell table-cell-control">
                <select name="status" id="status-19" class="table-control">
                    <option value="0" selected>активен</option>
                    <option value="1">завершён</option>
                </select>
            </td>
            <td class="table-cell table-cell-delete">
                <a class="table-link-delete" href="../server/delete-order.php?id=19">
                    <img src="../img/delete.png" alt="delete">
                </a>
            </td>
        </tr>
    </table>
</main>

</body>
</html>