.cart-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.cart-items {
    background-color: #d8d8d8;
    min-width: 800px;
    width: 100%;
    border-radius: 10px;
}

.cart-info {
    min-width: 380px;
    max-width: 380px;
    width: 380px;
    min-height: 186px;
    box-sizing: border-box;
    margin: 0 10px;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #d8d8d8;
}

.cart-issue-button {
    width: 300px;
    margin: 15px auto 0 auto;
}

.cart-info-text {
    padding: 10px 0;
    font-size: 23px;
}

.cart-info-text:nth-child(even) {
    font-weight: 700;
}

.cart-item {
    display: flex;
    padding: 0 15px;
    position: relative;
    min-height: 186px;
}

.cart-item:not(:first-child){
    border-top: 1px solid #989898;
}

.cart-item-info {
    padding: 15px;
    width: 100%;
    text-align: left;
}

.cart-item-price {
    margin-top: 15px;
}

.cart-item-quantity {
    font-size: 22px;
    width: 70px;
}

.cart-item-quantity::-webkit-inner-spin-button,
.cart-item-quantity::-webkit-outer-spin-button {
    opacity: 1;
}

.cart-item-cross{
    position: absolute;
    top:13px;
    right:15px;
    width: 25px;
    height: 25px;
    transition: transform 100ms;
    cursor: pointer;
    fill: #333333;
}

.cart-item-cross:hover {
    transform: scale(1.2);
}

.cart-item-cross:active {
    transform: scale(1);
}